.venv/
venv/
myenv/
__pycache__/
*.py[cod]
*.pyc
*$py.class
dist/
build/
*.egg-info/
pip-wheel-metadata/
.env
*.env
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
.idea/
.vscode/
.DS_Store
Thumbs.db
